.classpath
.project
.settings
*.iml
target
test-output
**/data/eams_elasticsearch/
*~
.idea
.DS_Store
rebel.xml
.rebel*xml*bak
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.springbeans
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json


/backend/web-api/test-output
